<div class='challenges-app-container-row'>
  <%= form_with url: '/sessions', builder: MaterialDesignFormBuilder do |form| %>
    <%= form.text_field :buck_id, label: "name.#" %>
    <%= form.password_field :password %>
    <%= form.submit 'Log In' %>
  <% end %>
</div>
<div class="challenges-password-reset"><a href="/password_reset_requests/new">Need A New Password?</a></div>
<% if flash[:error] %>
  <div class='mcd-typography--title challenges-sessions-flash'><%= flash[:error] %></div>
<% end %>
