{{#if performance}}
  {{#if performance.current}}
    {{#if performance.windowOpen}}
      <h2>Challenges for {{performance.name}} are now open!</h2>
    {{else}}
      <h2>Challenge signup for {{performance.name}} begins on <span style="color: red">{{performance.openAt}}</span>
      and ends at <span style="color: red">{{performance.closeAt}}</span>. Are you ready?</h2>
    {{/if}}
  {{/if}}
{{/if}}
