{{#if performance}}
  {{#if performance.windowOpen}}
    <h2 class="ChallengeWindow">Challenges for {{performance.name}} are open now!</h2>
  {{else}}
    <h2 class="ChallengeWindow">Challenge signup for {{performance.name}} <br />
      Opens: <span class="ChallengeWindow-openAt"> {{performance.openAt}}</span> <br />
      Closes: <span class="ChallengeWindow-openAt"> {{performance.closeAt}}</span>
    </h2>
  {{/if}}
{{else}}
  {{#if user.admin}}
    <h2 class="ChallengeWindow">There is currently no upcoming performance in the system</h2>
  {{/if}}
{{/if}}
