{{#if name}}
  {{#if windowOpen}}
  <h2>Challenges for {{name}} are open now!</h2>
  {{else}}
  <h2>Challenge signup for {{name}} begins on <span style="color: red">{{openAt}}</span>
    and ends at <span style="color: red">{{closeAt}}</span>. Are you ready?</h2>
  {{/if}}
{{else}}
  <h2>The next performance has not been created yet. Go Bucks...</h2>
{{/if}}
