<table class="table">
  <thead>
      <tr>
        <th>Performance</th>
        <th>Opponent</th>
        <th>For Spot</th>
        <th>Won?</th>
        <th>Comments</th>
      </tr>
  </thead>
  {{#each results}}
    <tr id="row-id-"{{@index}}>
      <td>{{this.performanceName}}</td>
      <td>{{this.opponentName}}</td>
      <td>{{this.spotId}}</td>
      {{#if this.winner}}
        <td><img style="height: 1.5em; width: 1.5em;"src="/public/images/emoji/trophy.png" /></td>
      {{else}}
        <td><img style="height: 1.5em; width: 1.5em;"src="/public/images/emoji/crying-cat-face.png" /></td>
      {{/if}}
      <td>{{this.comments}}</td>
    </tr>
  {{/each}}
</table>
