{{#if results}}
  <div class="ResultsApprove">
    <div class="ResultsApprove-header">
      <input type="submit" class="ResultsApproveSubmitAll ChallengesButton" value="Approve All" />
      <input type="submit" class="ResultsApproveSubmitChecked ChallengesButton" value="Approve Checked" />
    </div>
    <div class="ResultsApproveList">
      {{#each results}}
        <div class="ResultsApproveList-item {{this.id}}">
          <div class="ResultsApproveList-item-header">
            <p class="ResultsApproveList-item-header-item">{{this.spotId}}</p>
            <p class="ResultsApproveList-item-header-item ResultsApproveList-item-header-winner">{{this.winner}}</p>
            <div class="ResultsApproveList-item-header-checkbox">
              <input type="checkbox" class="ResultsApprove-checkbox {{this.id}}" value="Approve" />
            </div>
          </div>
          <div class="ResultsApproveList-item-body">
            <div class="ResultsApproveList-item-body-left">
              <p>{{this.firstName}}</p>
              <p>{{this.firstComments}}</p>
            </div>
            <div class="ResultsApproveList-item-body-right">
              <p>{{this.secondName}}</p>
              <p>{{this.secondComments}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <h1>There are no results to approve!</h1>
{{/if}}
