<div class="ResultsIndex">
{{#each performanceResultsMap}}
  <h1>{{ this.performanceName }}</h1>
    <div class="ResultsApproveList">
      {{#each results}}
        <div class="ResultsApproveList-item {{this.id}}">
          <div class="ResultsApproveList-item-header">
            <p class="ResultsApproveList-item-header-item">{{this.spotId}}</p>
            <p class="ResultsApproveList-item-header-item ResultsApproveList-item-header-winner">{{this.winner}}</p>
          </div>
          <div class="ResultsApproveList-item-body">
            <div class="ResultsApproveList-item-body-left">
              <p>{{this.firstName}}</p>
              <p>{{this.firstComments}}</p>
            </div>
            {{#if this.secondName }}
              <div class="ResultsApproveList-item-body-right">
                <p>{{this.secondName}}</p>
                <p>{{this.secondComments}}</p>
              </div>
            {{/if }}
          </div>
        </div>
      {{/each}}
    </div>
{{/each}}
</div>
