{{#if results}}
  <h2>**Click the button next to the winner**</h2>
  <div class="ResultEvaluations">
    {{#each results}}
      <div class="ResultsEvaluation {{this.resultId}}">
        <div class="ResultsEvaluation-header">
          <p class="ResultsEvaluation-firstNameNumber {{this.resultId}}">
            <label>
              {{this.firstName}}
              <input class="ResultsEvaluation-firstNameNumber-button {{this.resultId}}" type="radio" name={{this.resultId}} value={{this.firstNameNumber}} checked/>
            </label>
          </p>
          <p class="ResultsEvaluation-spot {{this.spotId}}">
            {{this.spotId}}
          </p>
          {{#if this.secondNameNumber}}
            <p class="ResultsEvaluation-secondNameNumber {{this.resultId}}">
              <label class="ResultsEvaluation-secondName">
                {{this.secondName}}
                <input class="ResultsEvaluation-secondNameNumber-button {{this.resultId}}" type="radio" name={{this.resultId}} value={{this.secondNameNumber}} />
              </label>
            </p>
          {{/if}}
        </div>
        <div class="ResultsEvaluation-comments">
          <textarea class="ResultsEvaluation-firstComments {{this.resultId}}" placeholder="Comments For {{this.firstName}}"></textarea>
          {{#if this.secondNameNumber}}
            <textarea class="ResultsEvaluation-secondComments {{this.resultId}}" placeholder="Comments For {{this.secondName}}"></textarea>
          {{/if}}
        </div>
        <input
          class="ChallengesButton {{this.spotId}} {{this.resultId}} ResultsEvaluation-submit"
          type="submit"
          value="Submit"
        />
      </div>
    {{/each}}
  </div>
{{else}}
  <h2>There are no challenges for you to evaluate</h2>
{{/if}}
