{{#each results}}
  <h1>{{this.firstName}} faced {{this.secondName}} for the {{this.spotId}} spot.</h1>
  <h2>{{this.winner}} won</h2>
  {{#if this.pending}}
    <p>The result is pending</p>
  {{else}}
    <p>The results is not pending</p>
  {{/if}}
  <hr />
{{/each}}
