{{#if results}}
  <h2>**Click the button next to the winner**</h2>
  <div class="ResultEvaluations">
    {{#each results}}
      <div class="ResultsEvaluation {{this.resultId}}">
        <div class="ResultsEvaluation-header">
          <p class="ResultsEvaluation-firstNameNumber {{this.resultId}}">
            <span>{{this.firstName}} </span><input type="radio" name={{this.resultId}} value={{this.firstNameNumber}} checked/>
          </p>
          <p class="ResultsEvaluation-spot {{this.spotId}}">
            {{this.spotId}}
          </p>
          {{#if this.secondNameNumber}}
            <p class="ResultsEvaluation-secondNameNumber {{this.resultId}}">
              <span class="ResultsEvaluation-secondName">{{this.secondName}} </span><input type="radio" name={{this.resultId}} value={{this.secondNameNumber}} />
            </p>
          {{/if}}
        </div>
        <div class="ResultsEvaluation-comments">
          <textarea class="ResultsEvaluation-firstComments {{this.resultId}}" placeholder="Comments For {{this.firstName}}"></textarea>
          {{#if this.secondNameNumber}}
            <textarea class="ResultsEvaluation-secondComments {{this.resultId}}" placeholder="Comments For {{this.secondName}}"></textarea>
          {{/if}}
        </div>
        <input
          class="ResultsEvaluation-submit {{this.spotId}} {{this.resultId}}"
          type="submit"
          value="Submit"
        />
      </div>
    {{/each}}
  </div>
{{else}}
  <h2>There are no challenges for you to evaluate</h2>
{{/if}}
