{{#if results}}
  {{#each results}}
    <div class="ResultsEvaluation {{this.resultId}}">
      <p class="ResultsEvaluation-spot {{this.spotId}}">
        {{this.spotId}}
      </p>
      <p class="ResultsEvaluation-firstNameNumber {{this.resultId}}">
        <span>{{this.firstName}} </span><input type="radio" name={{this.resultId}} value={{this.firstNameNumber}} checked/>
      </p>
      {{#if this.secondNameNumber}}
        <p class="ResultsEvaluation-secondNameNumber {{this.resultId}}">
          <span>{{this.secondName}} </span><input type="radio" name={{this.resultId}} value={{this.secondNameNumber}} />
        </p>
      {{/if}}
      <textarea class="ResultsEvaluation-firstComments {{this.resultId}}"></textarea>
      <textarea class="ResultsEvaluation-secondComments {{this.resultId}}"></textarea>
      <input
        class="ResultsEvaluation-submit {{this.spotId}} {{this.resultId}}"
        type="submit"
        value="Submit"
        />
      <hr />
    </div>
  {{/each}}
{{else}}
  <h2>There are no challenges for you to evaluate</h2>
{{/if}}
