{{#if this.challengeableUsers.length}}
  <h1>Who do you want to challenge for the {{performanceName}}?</h1>
  <select class="ChallengeSelect">
    {{#each this.challengeableUsers}}
          {{#if this.spotOpen}}
            {{#unless this.challengeFull}}
              <option value="{{this.spotId}} open">
                {{this.spotId}} (open - challenged {{this.challengedCount}} time(s))
              </option>
            {{else}}
              <option disabled>
                {{this.spotId}} (open - challenged {{this.challengedCount}} time(s))
              </option>
            {{/unless}}
          {{else}}
            {{#unless this.challengeFull}}
              <option value="{{this.spotId}} {{this.name}}">
                {{this.spotId}}: {{this.name}}
              </option>
            {{else}}
              <option disabled>
                {{this.spotId}}: {{this.name}}
              </option>
            {{/unless}}
          {{/if}}
    {{/each}}
    <input type="submit" class="ChallengeSelect-submit" value="Challenge"/>
  </select>
{{else}}
  <h2>Sorry, you can't make a challenge right now!</h2>
{{/if}}
