<div class="UserIndex">
  <div class="UserIndex-header">
    <p class="UserIndex-headerItem">Name</p>
    <p class="UserIndex-headerItem">Spot</p>
    <p class="UserIndex-headerItem">Instrument</p>
    <p class="UserIndex-headerItem">Part</p>
  </div>
  {{#each users}}
    <div class="UserIndex-user {{this.nameNumber}} {{evenOdd @index}}">
      <p class="UserIndex-userItem">{{this.name}}</p>
      <p class="UserIndex-userItem">{{this.spotId}} <button class="UserIndex-editSpot {{this.nameNumber}}">Edit Spot</button></p>
      <p class="UserIndex-userItem">{{this.instrument}}</p>
      <p class="UserIndex-userItem">{{this.part}} <button class="UserIndex-editPart {{this.nameNumber}}">Edit Part</button></p>
    </div>
  {{/each}}
</div>
