<div class="challenges-challenge-select">
  <div class="mdc-typography--headline"><%= title %></div>
  <form method="POST" action="/challenges/create" class="challenges-challenge-select-form">
    <select class="mdc-select challenges-challenge-select-dropdown" name="challenge-select">
      <% challenge_options.each.with_index do |option, index| %>
        <% option_value = { spot: { row: option[:row], file: option[:file] }, challenger_buck_id: user.buck_id }.to_json %>
        <% row_string = Spot.get_row_from_database_value(option[:row]).upcase %>
        <% disabled = option[:members_in_challenge] >= 2 %>
        <% option_text = "#{row_string}#{option[:file]} (open - challenges #{option[:members_in_challenge]} time(s)" if option[:open_spot] %>
        <% option_text = "#{row_string}#{option[:file]}: #{option[:first_name]} #{option[:last_name]}" unless option[:open_spot] %>

        <% if disabled %>
          <option value=<%= option_value %> disabled><%= option_text %></option>
        <% else %>
          <option value=<%= option_value %>><%= option_text %></option>
        <% end %>
      <% end %>
    </select>
    <input class="mdc-button mdc-button-primary challenges-button-secondary" type="submit" value="Make Challenge" />
  </form>
</div>
