<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">OSUMB</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#if user}}
          <li><a href=/{{user.nameNumber}}>Profile</a></li>
          {{#if user.admin}}
            <li><a href="/performances/new">Create Performance</a></li>
            <li><a href="/performances/{{currentPerformance.id}}/results/toapprove">Approve Results</a></li>
          {{else}}
            {{#if user.eligible}}
              {{#if currentPerformance}}
                <li><a href="/performances/{{currentPerformance.id}}/challenges/new">Make A Challenge</a></li>
              {{/if}}
            {{/if}}
            {{#if user.squadLeader}}
              {{#unless user.eligible}}
                <li><a href="/performances/{{currentPerformance.id}}/results/evaluate">Evaluate Challenges</a></li>
              {{/unless}}
            {{/if}}
          {{/if}}
          <li><a href="/logout">Logout</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
